section#about.about
    .container
        .row
            .col-lg-12
                .row
                    .about__wrapper
                        .about__photo
                            img(src='img/robo-1.png' alt='robot')
                        .about__descr
                            h3.about__title
                                | קומה אודות החברה
                            p.about__subtitle
                                | לורם איפסום דולור סיט אמט קונסקטורר אדיפיסינג אלית הועניב היושבב שערש
                            .about__textbox
                                p
                                    | להאמית קרהשק סכעיט דז מא מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול לכנוץ בעריר גק ליץ ושבעגט. קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. סחטיר איאקוליס וולופטה דיאם. וסטיבולום אט דולור קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה לרטי.
                            a.top-banner__link(href='#')
                                | קרא עוד