footer.footer
    .container
        .row
            .col-lg-12
                .row
                    .footer__wrapper
                        .footer__element
                            a(href="/").header__logo
                                img(src='img/icons/h-logo.png' alt='logo')
                            a.header__phone(href='tel:1-800-333-555')
                                | 1-800-333-555
                        .footer__element
                            ul
                                li
                                    | קישורים מהירים
                                li
                                    a(href='#')
                                        | לורם איפסום דולור
                                li
                                    a(href='#')
                                        | סיט אמט קונסקטורר
                                li
                                    a(href='#')
                                        | לורם איפסום

                        .footer__element
                            ul
                                li
                                    | קישורים מהירים
                                li
                                    a(href='#')
                                        | לורם איפסום
                                li
                                    a(href='#')
                                        | לורם איפסום דולור

                        .footer__element
                            ul
                                li
                                    | קישורים מהירים
                                li
                                    a(href='#')
                                        | סיט אמט קונסקטורר
                                li
                                    a(href='#')
                                        | לורם איפסום
                                li
                                    a(href='#')
                                        | לורם איפסום דולור
    .footer__art
        .container
            .row
                .d-flex.flex-wrap.flex-row.justify-content-between.w-100
                        a(href='#').footer__left
                            span.icon
                                img(src='img/icons/sogo-logo.png' alt='logo')
                            span.title
                                | Sogo Digital LTD
                        p.footer__right
                            | כל הזכויות שמורות © לאור אל שת תשתיות בע”מ 2018


a(href='#')#go-top.go__top
    img(src='img/icons/up-arrow-icon.png' alt='Up')