section#partners.partners
    .container
        .row
            .col-lg-12
                .row
                    #partners-slider.partners__slider
                        .partners__slider--item
                            img(src='img/activision-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/midway-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/nexon-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/sega-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/tiga-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/is-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/activision-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/midway-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/nexon-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/sega-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/tiga-logo.png' alt='partner')
                        .partners__slider--item
                            img(src='img/is-logo.png' alt='partner')