section#services.services
    .services__first
        img(src='img/camera.png' alt='camera')
    .services__second
        img(src='img/cam2.png')
    .container
        .row
            .col-lg-12
                .row
                    h3.services__title
                        | קומה שירותי החברה
                    p.services__subtitle
                        | לורם איפסום דולור סיט אמט קונסקטורר אדיפיסינג אלית הועניב היושבב שערש שמחויט שלושע ותלברו חשלו
                .services__wrapper
                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon1.svg' alt='icon')
                        h3.title
                            | איתור נזילות ובעיות רטיבות
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח
                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon2.svg' alt='icon')
                        h3.title
                            | צילום צנרת ביוב
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח

                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon3.svg' alt='icon')
                        h3.title
                            | ייבוש תת רצפתי ושיקום נזקי מים
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח
                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon4.svg' alt='icon')
                        h3.title
                            | בדק בית וביקורת מבנים
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon5.svg' alt='icon')
                        h3.title
                            | איתור ומיפוי תשתיות תת קרקעיות
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח
                    a(href="#").services__element
                        span.icon
                            img(src='img/icons/icon6.svg' alt='icon')
                        h3.title
                            | איתור נזילות תת קרקעיות
                        .descr
                            p
                                | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                a.top-banner__link(href='#')
                    | כל הפתרונות
