section#tech.tech
    .container
        .row
            .col-lg-12
                .row
                    h3.tech__title
                        | קומה טכנולוגיות מתקדמות
                    #tech-slider.tech__slider
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide1.png' alt='slide')
                            .tech__descr
                                h3
                                    | רובוטים לחיתוך וריסוק
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide2.png' alt='slide')
                            .tech__descr
                                h3
                                    | מערכות פריצה
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide3.png' alt='slide')
                            .tech__descr
                                h3
                                    | איתור תשתיות ושוחות
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide1.png' alt='slide')
                            .tech__descr
                                h3
                                    | רובוטים לחיתוך וריסוק
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide2.png' alt='slide')
                            .tech__descr
                                h3
                                    | מערכות פריצה
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח לפרומי בלוף קינץ תתיח לרעח
                        a(href='#').tech__slide
                            .tech__img
                                img(src='img/bot-slide3.png' alt='slide')
                            .tech__descr
                                h3
                                    | איתור תשתיות ושוחות
                                p
                                    | קוואזי במר מודוף אודיפו בלאסטיק מונופץ קליר בנפת נפקט למסון בלרק וענוף לפרומי בלוף קינץ תתיח לרעח