section.top-banner
    .container
        .row
            .col-lg-12
                .row
                    #top-slider.top-banner__slider
                        .top-banner__slider--slider
                            .col-lg-12
                                .row
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--img
                                                img(src='img/top-slide1.png' alt='slide')
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--descr
                                                h1
                                                    | לורם איפסום דולור
                                                p
                                                    | לורם איפסום דולור סיט אמט קונסקטורר אדיפיסינג אלית הועניב היושבב
                                                a.top-banner__link(href='#')
                                                    | קרא עוד
                        .top-banner__slider--slider
                            .col-lg-12
                                .row
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--img
                                                img(src='img/top-slide1.png' alt='slide')
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--descr
                                                h1
                                                    | לורם איפסום דולור
                                                p
                                                    | לורם איפסום דולור סיט אמט קונסקטורר אדיפיסינג אלית הועניב היושבב
                                                a.top-banner__link(href='#')
                                                    | קרא עוד
                        .top-banner__slider--slider
                            .col-lg-12
                                .row
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--img
                                                img(src='img/top-slide1.png' alt='slide')
                                    .col-lg-6.col-sm-6.col-xs-12
                                        .row
                                            .top-banner__slider--descr
                                                h1
                                                    | לורם איפסום דולור
                                                p
                                                    | לורם איפסום דולור סיט אמט קונסקטורר אדיפיסינג אלית הועניב היושבב
                                                a.top-banner__link(href='#')
                                                    | קרא עוד

